.sheet-main {
  display: grid;
  width: 800px;
  height: 900px;
  grid-gap: 4px;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 180px 1fr 1fr 1fr 20px;
  grid-template-areas:"header  header  header  header"
                      "stats   stats  stats  stats"
                      "skills   skills  bonds     bonds"
                      "wounds   wounds    inv     inv"
                      "footer  footer  footer  footer";
}

/*----------------- GENERAL CSS ------------------*/

textarea { 
  width: 90%; 
  height: 85%;
}

.sheet-Hidden{
    display:none;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: flex-start;*/
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}


/*------------- Section-specific CSS -------------*/

.sheet-header {
  grid-area: header;
  background-color: olive;
  flex-direction: column;
}

.sheet-skills {
  grid-area: skills;
  background-color: orange;
}

.sheet-stats {
  grid-area: stats;
  background-color: brown;
}

.sheet-bonds {
  grid-area: bonds;
  background-color: coral;
}

.sheet-wounds {
  grid-area: wounds;
  background-color: green;
}

.sheet-inv {
  grid-area: inv;
  background-color: grey;
}



.sheet-inline{
 display:inline;   
}

.sheet-longbox{
 width:550 px;   
 max-width:550 px;
 min-width:550 px;
}

button.sheet-textbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
